/* ==========================================================================
   # COMPANIES HEAVY / PARTIAL / PAGE
   ========================================================================== */

.edge-full {
    background-color: $bg-blue;
    padding: 20px 0 0;
    position: relative;
}


/* Companies List / Logos
   ========================================================================== */
.edge-full__container {
    overflow: hidden;
}

.edge-full__list {
    position: relative;
    z-index: $z-lvl-1;
}

.edge-full__intro {
    margin-bottom: 30px;

    @include bp(xlarge) {
        margin-bottom: 20px;
    }
}

.edge-full__ul {
    display: flex;
    align-items: center;
}

.edge-full__li {
    display: flex;
    justify-content: center;
}

.edge-full__logo {
    max-width: 176px;
    max-height: 52px;
    margin: 0 10px;
}

/* Content Title / Text
   ========================================================================== */
.edge-full__content {
    display: flex;
    padding: 80px 0 0;
    position: relative;
    z-index: $z-lvl-1;
    margin-bottom: -110px;

    @include bp(medium) {
        padding: 80px 0 160px;
        margin-bottom: 0;
    }
    
    @include bp(xlarge) {
        justify-content: flex-end;
    }
}

.edge-full__box {
    width: 100%;
    
    @include bp(medium) {
        width: 68%;
    }

    @include bp(xlarge) {
        width: 50%;
    }
}

.edge-full__subtitle {
    margin-bottom: 24px;
    text-align: center;

    @include bp(medium) {
        text-align: left;
        margin-bottom: 32px;
    }
}

.edge-full__title {
    margin-bottom: 32px;
    text-align: center;

    @include bp(medium) {
        text-align: left;
    }
}

.edge-full__text {
    margin-bottom: 42px;
}

/* Background Image and Wave
   ========================================================================== */
.edge-full__content__bg {
    display: none;
    
    @include bp(medium) {
        display: block;
        height: 73%;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    @include bp(xlarge) {
        height: 90%;
    }
}

.edge-full__content__bg--mobile {
    @include bp(medium) {
        display: none;
    }
}

.edge-full__content__img--mobile {
    margin-bottom: -10px;
}

.edge-full__content__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1);

    @include bp(xlarge) {
        transform: scaleX(1);
    }
}

.edge-full__content__wave {
    svg {
        position: absolute;
        bottom: -1px;
        z-index: $z-lvl-3;
    }
}