/* ==========================================================================
   # HOME BANNER / PARTIAL / PAGE
   ========================================================================== */

.home-banner {
   overflow: hidden;
   background-color: $bg-gray;
}

.home-banner__wrapper {
   margin: 0 -23px;
   padding-top: 20px;
   
   @include bp(medium) {
      margin: 0 -44px;
   }

   @include bp(large) {
      margin: 0 -92px;
   }
   
   @include bp(xlarge) {
      padding: 96px 0 94px;
      position: relative;
      margin: 0;
   }
}

.home-banner__content {
   margin: 0 23px;

   @include bp(medium) {
      margin: 0 44px;
   }

   @include bp(xlarge) {
      position: relative;
      z-index: $z-lvl-3;
      width: 56%;
      margin: 0;
   }

   @include bp(full) {
      width: 44%;
   }
}

.home-banner__inner {
   padding-bottom: 34px;
   justify-content: center;

   @include bp(xlarge) {
      justify-content: flex-start;
      padding-bottom: 0;
   }
}

.home-banner__title {
   margin-bottom: 24px;
   text-align: center;

   @include bp(xlarge) {
      text-align: left;
      margin-bottom: 44px;
   }
}

.home-banner__ul {
   margin-bottom: 47px;

   @include bp(medium) {
      max-width: 410px;
      margin: 0 auto 47px;
   }

   @include bp(xlarge) {
      max-width: unset;
      margin: 0 0 51px;
   }
}

.home-banner__cta {
   text-align: center;

   @include bp(xlarge) {
      text-align: left;
   }
}

.home-banner__li {
   margin-bottom: 12px;

   svg {
      max-width: 20px;
      margin-right: 13px;
   }
}

/* Image Mask Waves
   ========================================================================== */
.home-banner__bg {
   position: relative;
   overflow: hidden;

   @include bp(xlarge) {
      position: absolute;
      right: -32%;
      top: 0;
      height: 100%;
   }

   @include bp(full) {
      right: -18%;
   }
}

.home-banner__mask__one,
.home-banner__mask__two,
.home-banner__mask__three {
   path {
      fill: $bg-gray;
   }
}

.home-banner__mask__one {
   svg {     
      display: none;

      @include bp(xlarge) {
         display: block;
         position: absolute;
         z-index: $z-lvl-2;
         left: -1px;
         top: 0;
         height: calc(100% + 1px);
      }
   }
}

.home-banner__mask__two {
   svg {
      display: none;
      
      @include bp(xlarge) {
         position: absolute;
         z-index: $z-lvl-2;
         right: -1px;
         top: 0;
         height: calc(100% + 1px);
         display: block;
      }
   }
}

.home-banner__mask__three {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;

   @include bp(xlarge) {
      display: none;
   }
}

.home-banner__img {
   max-width: 100%;
   width: 100%;
   min-height: 265px;
   object-fit: cover;
   transform: scale(1.3);
   object-position: 125%;
   
   @include bp(medium) {
      transform: scale(1);
      min-height: 535px;
      object-position: 90%;
   }

   @include bp(xlarge) {
      height: 100%;
   
   }
}