/* ==========================================================================
   # MODEL IN STEPS / PARTIAL / PAGE
   ========================================================================== */

.model-steps__wrapper {
    margin-top: 40px;
    margin-bottom: 46px;
}    

.model-steps {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 32px;
        width: 1px;
        height: 90%;
        background-color: $border-gray;
    }

    @include bp(xlarge) {
        &::before {
            content: none;
        }
    }
}

.model-steps__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include bp(xlarge) {
        width: 33.33%;
    }
}

/* Numbers Before & After Elements
   ========================================================================== */

.model-steps__num {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $bg-yellow;
    font-size: 2.9rem;
    margin: 0 auto;
    z-index: $z-lvl-2;
    padding: 20px;

    &::before {
        content: "";
        height: 2px;
        position: absolute;
        background-color: $border-gray;
        left: 0;
        top: 32px;
        width: 44px;
        transform: translateY(-50%);
        z-index: -1;

        @include bp(medium) {
            width: 88px;
        }
    }


    &::after {
        content: "";
        height: 104px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 32px;
        width: 104px;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    @include bp(xlarge) {
        &::before {
            top: 50%;
            left: 0;
            width: 100%;
        }

        &::after {
            left: 50%;
        }
    }
}

.model-steps__num--1 {
    &::before {
        @include bp(xlarge) {
            left: 50%;
            width: 50%;
        }
    }
}

.model-steps__num--3 {
    &::before {
        @include bp(xlarge) {
            right: 50%;
            width: 50%;
        }
    }
} 

/* Copy Content
   ========================================================================== */
.model-steps__content {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    @include bp(xlarge) {
        flex-direction: column;
    }
}

.model-steps__content__split {
    padding-left: 20px;
    width: 100%;

    @include bp(medium) {
        position: relative;
        width: 64%;
        padding-left: 88px;
        padding-bottom: 110px;
    }

    @include bp(xlarge) {
        width: 100%;
        padding-left: 0;
        padding-bottom: 0;
    }
}

.model-steps__content__split--3 {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: -1px;
        top: 33px;
        width: 3px;
        height: 90%;
        background-color: $border-white;

        @include bp(xlarge) {
            content: none;
        }
    }

}

.model-steps__bg {
    display: none;
    
    @include bp(medium) {
        display: block;
        right: -44px;
        position: absolute;
        right: -23px;    
        bottom: 0;
    }
 
    @include bp(large) {
        right: -92px;
    }

    @include bp(xlarge) {
        display: none;
    }
}

.model-steps__image {
    position: relative;
    z-index: $z-lvl-1;
    width: 100%;
    order: 4;
    margin-bottom: 0;
    
    @include bp(medium) {
        width: 36%;
        margin-bottom: 34px;
        display: flex;
        align-items: flex-end;
    
    }
}

.model-steps__img {
    @include bp(medium) {
        padding-bottom: 80px;
    }

    @include bp(xlarge) {
        padding-bottom: 0;
    }
}

.model-steps__number {
    position: initial;
    order: 0;
    margin-bottom: 24px;

    
    @include bp(medium) {
        margin-bottom: 39px;
    }
    
    @include bp(xlarge) {
        margin-bottom: 60px;
        position: relative;
    }

    .model-steps__num {
        margin: 0 auto 0 0;

        @include bp(xlarge) {
            margin: 0 auto;
        }
    }

}

.model-steps__copy {
    padding: 0 32px;
        
    @include bp-down(xlarge) {
        order: 2;
        padding: 0;
    }
}

.model-steps__button--mobile {
    display: block;
    order: 3;
    margin-bottom: 33px;

    @include bp(medium) {
        margin-bottom: 0;
    }

    @include bp(xlarge) {
        display: none;
    }
}

.model-steps__button {
    width: 100%;
    padding: 0 32px 40px;
    display: none;

    @include bp(xlarge) {
        display: block;
    }
}

.model-steps__title {
    margin-bottom: 22px;
}

.model-steps__text {
    margin-bottom: 25px;

    @include bp(medium) {
        margin-bottom: 32px;
    }

    @include bp(xlarge) {
        margin-bottom: 40px;
    }
}