// ==========================================================================
// #GLOBAL
// ==========================================================================
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-radius: 15px !default;
$global-opacity: 0.4;
$btn-transition: all 200ms linear !default;

/* Fonts
   ========================================================================== */

$open: open-sans, sans-serif !default;
$proxima: proxima-nova, sans-serif !default;


/* Breakpoints
   ========================================================================== */

$breakpoints: (
  small: 414px,
  medium: 768px,
  large: 1024px,
  xlarge: 1280px,
  full: 1600px,
  retina: 2500px,
);

/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$color-white: #fff;
$color-black: #000;
$color-yellow: #f8cf27;
$color-blue: #71929E;
$color-blue-2: #DCF0F4;
$color-gray: #F7F9FA;
$color-gray-2: #C9D3D7;

// Text
$text: $color-black;
$text-white: $color-white;
$text-blue: $color-blue;

// Background
$bg-black: $color-black;
$bg-blue: $color-blue-2;
$bg-yellow: $color-yellow;
$bg-gray: $color-gray;

// Borders
$border-black: $color-black;
$border-white: $color-white;
$border-gray: $color-gray-2;

// Z-Index
$z-lvl-1: 100;
$z-lvl-2: 200;
$z-lvl-3: 300;
$z-lvl-4: 400;

// Font Family
$text-family: $open;
$heading-family: $proxima;
