.u-btn {
    font-size: 1.8rem;
    display: inline-flex;
    align-items: center;
    border-radius: 28px;
    font-weight: 600;
    font-family: $heading-family;
    padding: 4px 30px;
    background-color: $bg-black;
    color: $text-white;
    white-space: nowrap;
    @include letter-spacing(14);

    &:after {
        // Arrow After Button
        position: relative;
        margin-left: 8px;
        content: "";
        display: inline-block;
        width: 0.3em;
        height: 0.3em;
        border-right: 3px solid $border-white;
        border-top: 3px solid $border-white;
        transform: rotate(45deg);
        margin-right: 0.5em;
        transition: all 1.5s ease;
    }

    // Button Wave Effect
    @include bp(xlarge) {
        position: relative;
        background-image: url("/wp-content/themes/thescalers/src/images/svg/btn-wave.svg");
        background-repeat: no-repeat;
        background-position: 158% 0;
        transition: all 1.5s ease;
    
        &:hover {
            background-position: 90% 40%;
            color: $text;

            &.u-btn--white {
                border-color: $bg-yellow;
            }
    
            &::after {
              transform: rotate(45deg);
              border-right: 3px solid $border-black;
              border-top: 3px solid $border-black;
            }
        }
    }
}

.u-btn--black {
    @extend .u-btn;
    background-color: $bg-black;
    padding: 6px 32px;
}

.u-btn--white {
    @extend .u-btn;
    font-family: $heading-family;
    background-color: transparent;
    border: 2px solid $border-black;
    color: $text;

    &:after {
        // Arrow Color Update
        border-right: 3px solid $border-black;
        border-top: 3px solid $border-black;
    }
}
