/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */


h1, h2, h3, h4, h5, h6, .heading-family {
    font-family: $heading-family;
    color: $text;
    line-height: 1.22;
    font-weight: 800;
}

h1,
.display-1 { /* 72px */
    font-size: 4rem;
    @include letter-spacing(-10);
    
    @include bp(medium) {
        line-height: 1;
        font-size: 7.2rem;
        @include letter-spacing(-20);
    }
}

h2,
.display-2 { /* 64px */
    font-size: 4rem;
    
    @include bp(medium) {
        font-size: 6.4rem;
    }
}

h5,
.display-5 { /* 28px */
    font-size: 2.8rem;
    line-height: 1.42;
    
    @include bp(medium) {
        font-size: 2.8rem;
    }
}



.text-list { /* 18px */
    font-size: 1.3rem;
    line-height: 1.32;

    @include bp(medium) {
        font-size: 1.6rem;
    } 
    
    @include bp(xlarge) {
        font-size: 1.8rem;
    } 
}


.text-intro { /* 18px */
    font-size: 1.8rem;
    letter-spacing: 5.4px;
}

.text-describe { /* 16px */
    font-size: 1.6rem;
    
    @include bp(xlarge) {
        font-size: 1.6rem;
        letter-spacing: 1.6px;
    } 
}