/* ==========================================================================
   #IMAGES
   ========================================================================== */

.img-fluid {
   max-width: 100%;
   height: auto;
}