/* ==========================================================================
   #TYPOGRAPHY & COLORS & FONT WEIGHTS & LINE HEIGHTS
   ========================================================================== */

/**
 * Font Colors
 */

.color-black {
    color: $text;
}

.color-white {
    color: $text-white;
}

.color-blue {
    color: $text-blue;
}


/**
 * Font Weights
 */
.f-400 {
    font-weight: 400;
}
 
.f-600 {
    font-weight: 600;
}

.f-800 {
    font-weight: 800;
}

/**
 * Font Type
 */
.f-text {
    font-family: $text-family;
}

.f-heading {
    font-family: $heading-family;
}

/**
 * Line Heights
 */

.line-reset {
    line-height: 1;
}

.line-half {
    line-height: 1.5;
}


/**
 * Letter Spacing
 */