/* ==========================================================================
   #LAYOUT
   ========================================================================== */

/* Simple flexbox layout system */


.d-flex {
    display: flex;
}

.d-flex-wrap {
    flex-wrap: wrap;
}

.d-flex-center {
    justify-content: center;
    align-items: center;
}

.d-flex-align-c {
    align-items: center;
}

.d-block {
    display: block;
}

