/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

body:not(.has-scrollbar) {
    .wrapper-stretched {
        width: 100vw !important;
        margin-left: calc(-50vw + 50%) !important;
        margin-right: calc(-50vw + 50%) !important;
        left: 0 !important;
    }
}

body.has-scrollbar {
    .wrapper-stretched {
        width: calc(100vw - var(--scroll-bar)) !important;
        margin-left: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important;
        margin-right: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important;
    }
}

.wrapper-basic {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

    @include bp(small) {
        padding-left: 24px;
        padding-right: 24px;
    }

    @include bp(medium) {
        padding-left: 44px;
        padding-right: 44px; 
    }

    @include bp(large) {
        padding-left: 92px;
        padding-right: 92px; 
    }

    @include bp(xlarge) {
        padding-left: 124px;
        padding-right: 124px; 
    }
}

.main-wrapper {
    max-width: 1464px;
    @extend .wrapper-basic
}

